/* Reset some default styles for consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Typography */
h1, h2 {
    font-family: 'Poppins', sans-serif;
}

h3, p {
    font-family: 'Montserrat', sans-serif;
}

/* Colors */
body {
    color: #2B2B2B; /* Black text */
}

h1, h2 {
    color: #487BE3; /* Blue */
}

h3, p {
    color: #2B2B2B; /* Black */
}

/* Background Colors */
body {
    background-color: #ffffff; /* White background */
}

/* Elements */
a {
    color: #487BE3; /* Blue for links */
}

/* Buttons */
.btn-secondary  {
    background-color: #F99244 !important; /* Orange for buttons */
    color: #ffffff; /* White text on buttons */
    border: none;
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: #E0792B !important;
}

.orange {
    color: #F99244
}
.blue {
    color: #487bE3;
}
/* Alerts */
.alert {
    background-color: #FF4041; /* Red for alert background */
    color: #ffffff; /* White text on alerts */
    padding: 10px;
    margin: 10px 0;
}

/* Borders and Shadows (Example) */
.card {
    border: 1px solid #0AA38A; /* Green border for cards */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for cards */
    padding: 20px;
    margin: 10px;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Responsive Design (Example) */
@media (max-width: 768px) {
    h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
}
